@import '../../../color-variables';

.landing-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: $ultraligth-primary-color;
  }
  
  .main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px;
    
    .headline {
      max-width: 600px;
  
      .brand-name {
        font-size: 1.8rem;
        color: $primary-color;
        font-weight: bold;
      }
  
      h1 {
        font-size: 2.5rem;
        color: $darker-primary-color;
        margin-bottom: 20px;
      }
  
      .business-section {
        p {
          font-size: 1.1rem;
          color: $secondary-color;
          line-height: 1.6;
  
          b {
            color: $primary-color;
          }
        }
      }
    }
  
    .image {
      max-width: 500px;
      height: auto;
    }
  }
  
  @media (max-width: 768px) {
    .main-section {
      flex-direction: column;
      text-align: center;
    }
  
    .headline {
      max-width: 100%;
    }
  
    .image {
      max-width: 100%;
    }
  }
  