<app-navbar></app-navbar>
<main>
    <section class="main-section">
        <div class="headline">
            <span>Dr.NN Prontuários</span>
            <h1>Um sistema de prontuários para todos atender.</h1>
            <section class="business-section">
                <p>Nosso sistema atende à demanda de 
                    <b>equipes multidisciplinares de saúde</b> 
                    que precisam criar e gerenciar os 
                    <b>prontuários médicos</b> 
                    de seus pacientes. O principal objetivo é garantir o acesso a esses prontuários em 
                    localidades remotas, de difícil acesso, onde a rede de internet é 
                    <b>limitada</b> ou <b>inexistente</b>.</p>
            </section>
        </div>
        
        <img ngSrc="./assets/MedicaNoComputador.png" width="500" height="500" />
        
    </section>
    
</main>