@import '../../../color-variables';

.app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    background-color: $ultraligth-primary-color;

    padding: 15px 50px;
}

.button{
    width: 100px;
    height: 40px;

    background-color: $primary-color;
    margin-right: 50px;
}

