$primary-text:          #0f172a;
$secondary-text:        #475569;
$primary-color:         #597cff;
$ligth-prymary-color:   #A2B6F2;
$ultraligth-primary-color: #D9E2F7;
$secondary-color:       #345fff;
$darker-primary-color:  #1d4bf9;
